<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XBCornerRadiusDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74114C211D274F8000EE90C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74114C351D274F8000EE90C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74114C401D274F8000EE90C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
